[submodule "FoundryFundamentals/FundMe/lib/forge-std"]
	path = FoundryFundamentals/FundMe/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "FoundryFundamentals/FundMe/lib/chainlink-brownie-contracts"]
	path = FoundryFundamentals/FundMe/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "FoundryFundamentals/FundMe/lib/foundry-devops"]
	path = FoundryFundamentals/FundMe/lib/foundry-devops
	url = https://github.com/cyfrin/foundry-devops
[submodule "FoundryFundamentals/Lottery/lib/forge-std"]
	path = FoundryFundamentals/Lottery/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "FoundryFundamentals/Lottery/lib/chainlink"]
	path = FoundryFundamentals/Lottery/lib/chainlink
	url = https://github.com/smartcontractkit/chainlink
[submodule "FoundryFundamentals/Lottery/lib/solmate"]
	path = FoundryFundamentals/Lottery/lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "FoundryFundamentals/Lottery/lib/foundry-devops"]
	path = FoundryFundamentals/Lottery/lib/foundry-devops
	url = https://github.com/ChainAccelOrg/foundry-devops
[submodule "FoundryAdvanced/ERC20Token/lib/forge-std"]
	path = FoundryAdvanced/ERC20Token/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "FoundryAdvanced/ERC20Token/lib/openzeppelin-contracts"]
	path = FoundryAdvanced/ERC20Token/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "FoundryAdvanced/ERC721Nft/lib/forge-std"]
	path = FoundryAdvanced/ERC721Nft/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "FoundryAdvanced/ERC721Nft/lib/openzeppelin-contracts"]
	path = FoundryAdvanced/ERC721Nft/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "FoundryAdvanced/ERC721Nft/lib/foundry-devops"]
	path = FoundryAdvanced/ERC721Nft/lib/foundry-devops
	url = https://github.com/Cyfrin/foundry-devops
[submodule "FoundryAdvanced/stablecoin/lib/forge-std"]
	path = FoundryAdvanced/stablecoin/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "FoundryAdvanced/stablecoin/lib/openzeppelin-contracts"]
	path = FoundryAdvanced/stablecoin/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "FoundryAdvanced/stablecoin/lib/chainlink-brownie-contracts"]
	path = FoundryAdvanced/stablecoin/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
