[submodule "FoundryFundamentals/FundMe/lib/forge-std"]
	path = FoundryFundamentals/FundMe/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "FoundryFundamentals/FundMe/lib/chainlink-brownie-contracts"]
	path = FoundryFundamentals/FundMe/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "FoundryFundamentals/FundMe/lib/foundry-devops"]
	path = FoundryFundamentals/FundMe/lib/foundry-devops
	url = https://github.com/cyfrin/foundry-devops
[submodule "FoundryFundamentals/Lottery/lib/forge-std"]
	path = FoundryFundamentals/Lottery/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
